body{
    background-color: #F1F6F9;
}
.user-list{
    list-style: none;
    padding: 0px;
    .user{
        border: 0px !important;
        padding: 10px 5px;
        .avtar{
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 30px;
            position: relative;
            .point{
                position: absolute;
                bottom: 5px;
                right: 5px;
                width: 10px;
                height: 10px;
                border-radius: 30px;
                &.online{
                    background-color: green;
                }
                &.offline{
                    background-color: red;
                }
            }
        }
        h4{
            font-size: 18px;
        }
    }
}

#loginForm{
    height: 100vh;
    .spinner-border{
        z-index: 9;
        display: none;
    }
    .card{
        max-width: 400px;
    }
}

.card{
    .row{
        height: 90vh;
    }
}

#chat-room{
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding:0px 15px !important;

        li{
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;
        }
        .Yours{
            .msgbox{
                background-color: #19376D;
                color: white;
            }

            padding-left: 20px;
            margin-left: auto;
            .avtar{
                order: 2;
                margin-left: 15px;
            }
        }
        .incoming{
            .msgbox{
                background-color: #E4DCCF;
            }
            padding-right: 20px;
            .msgbox{
                margin-left: 15px;
            }
        }
        .avtar{
            color: white;
            border-radius: 50%;
            overflow: hidden;
            width: 50px;
        }
        .msgbox{
            padding: 5px 10px;
            border-radius:10px ;
        }
    }
    #messageBody{
        height: 74vh;
        overflow: auto;
        padding: 20px 0px;
    }
    form{
        width: 100%;
        display: flex;
        background-color: white;
        .emoji-wrapper{
            position: relative;
            cursor: pointer;
            svg{
                fill: black;
                width: 30px;
                height: 30px;
            }
            .emoji-box{
                position: absolute;
                cursor:initial;
                bottom: 50px;
                left: -10px;
                width: 200px;
                height: fit-content;
                background-color: white;
                border-radius: 10px;
                display: none !important;

                &.active{
                    display: flex !important;
                }
                &::after{
                    content: '';
                    border-width: 10px;
                    border-style: solid;
                    border-color: white transparent transparent transparent;
                    position: absolute;
                    bottom: -18px;
                    left: 14px;
                }

                span{
                    margin: 2px;
                    cursor: pointer;
                    font-size: 30px;
                }
            }
        }
        input[type=text]{
            width: 70%;
            border-radius: 10px;
            outline: none !important;
        }
        input[type=submit]{
            width: 17%;
            margin-left: 10px;
            background-color: #19376D;
            border: 0px;
            border-radius: 10px;
            color: white;
            padding:5px 0px;
            font-weight: bold;
        }
    }
}

.chatnav{
    background-color: #394867;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    
    .avtar{
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 30px;
    }
}
.notification{
    background-color: #002B5B;
    height: fit-content;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    position: absolute;
    right: 10px;
    top: calc( 50% - 23px );
}

.video-icon-wrapper,.call-icon-wrapper,.menu-icon-wrapper{
    width: 40px;
    height: 30px;
    cursor: pointer;
    svg{
        fill: white;
        height: 30px;
    }
}

.end-call-btn{
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
    padding: 16px 25px;
    svg{
        fill: white;
    }
}

.remote-video-card{
    height: 80vh;
    background-color: #9DB2BF;
    .loading-box{
        .dot-row{
            justify-content: center;
            display: flex;
            margin-bottom: 10px;
            .dot{
                width: 10px;
                height: 10px;
                background-color: black;
                margin: 0px 6px;
                border-radius: 50%;
                animation: dot-loading 1s infinite;

                &:nth-child(2){
                    animation-delay: 0.3s;
                }
                &:nth-child(3){animation-delay: 0.6s;
                }
                
            }
            @keyframes dot-loading{
                0%{
                    transform: scale(1.1);
                }
                50%{
                    transform: scale(1.5);
                }
                100%{
                    transform: scale(1);
                }
            }
        }
        position: absolute;
        top: 50%;
        left: calc(50% - 100px);
    }
}
.my-video-card{
    height: 190px;
    width: 254px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    video{
        height: 100%;
        width: 100%;
        border-radius:6px;
    }
}